.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.menu-toggle {
  position: absolute;
  right: 0%;
  display: none;
  top: 2.5%;
  right: 2%;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16),
    0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }
}
.menu-container.is-open {
  transform: translateX(0);
}
.mobile-menu {
  padding: 0;
  margin-bottom: 306px;
  list-style: none;
  .link {
    display: block;
    padding: 10px;
    color: #212121;
    text-decoration: none;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
  }
}
.mobile-menu__list {
  list-style: none;
  padding: 0;
  .mobile-menu__item-tel {
    margin-bottom: 32px;
    .mobile-menu__tel {
      color: $brand-color;
      font-family: Roboto;
      font-size: 34px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.68px;
      text-decoration: none;
    }
  }
  .mobile-menu__item-email {
    margin-bottom: 64px;
    .mobile-menu__email {
      color: $light-color;
      font-family: Roboto;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.48px;
      text-decoration: none;
    }
  }
}
.mobile-menu__list-redes {
  display: flex;
  padding: 0;
  list-style: none;
  .mobile-menu__item-redes {
    padding-right: 10px;
    .mobile-menu__redes {
      text-decoration: none;
      color: $brand-color;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px; /* 122.222% */
      letter-spacing: 0.36px;
    }
  }
}
.mobile-menu__redes--guion::after {
  display: inline-block;
  margin-left: 10px;
  content: "";
  width: 1px;
  height: 22px;
  background: rgba(33, 33, 33, 0.2);
}

@media (max-width: 1600px) {
  .menu-container {
    display: none;
  }
  .menu-toggle {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    width: 768px;
  }
  .header {
    gap: 50px;
  }
  .header__list {
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
    align-items: flex-start;
  }
  .header__navegation {
    gap: 60px;
  }
  .header__link {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .main-section .main__title {
    font-size: 26px;
    line-height: 42px; /* 161.538% */
    letter-spacing: 1.56px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .menu-container {
    display: none;
  }
  .menu-toggle {
    display: none;
  }
  .characteristics {
    flex-wrap: wrap;
  }
  .characteristics .characteristics__items .div-icon {
    width: 354px;
    height: 120px;
  }
  .parrafo {
    width: 354px;
    height: 75px;
  }
  .services {
    display: none;
  }
  .services__list {
    display: none;
  }
  .team {
    margin-top: 60px;
  }
  .team__list {
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
  }
  .clientes__list {
    flex-wrap: wrap;
  }
  .clientes__list .clientes__div {
    justify-content: center;
    width: 226px;
    height: 92px;
  }
  .container.foot {
    flex-wrap: wrap;
  }
  .logocontact {
    gap: 165px;
  }
  .contact__list {
    text-align: center;
  }
  .logo {
    padding-left: 25px;
  }
  .redes {
    align-items: center;
  }
  .redes {
    flex-wrap: wrap;
  }
  .formulario__email {
    margin-left: 168px;
    width: 450px;
    height: 50px;
  }
  .formulario__div {
    flex-direction: column;
  }
  .subscribe {
    margin-left: 250px;
    margin-top: 20px;
  }
  .boletin__text {
    margin-left: 215px;
  }
  .team .team__list .team__item {
    width: 339px;
    height: 536px;
  }
  .team__img {
    width: 339px;
    height: 374px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 480px;
  }
  .header .header-navegation__list {
    display: none;
  }
  .main-section .main__title {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 1.56px;
  }
  .main-section {
    margin-bottom: 60px;
  }
  .characteristics .characteristics__items .div-icon {
    width: 450px;
    height: 120px;
  }
  .subtitle {
    display: flex;
    justify-content: center;
  }
  .subtitle--gris {
    display: flex;
    justify-content: center;
  }
  .parrafo {
    width: 450px;
    height: 50px;
  }
  .characteristics__items {
    padding-top: 0px;
  }
  .team .team__list .team__item {
    width: 450px;
    height: 622px;
  }
  .team__img {
    width: 450px;
    height: 460px;
  }
  .clientes__list .clientes__div {
    width: 190px;
    height: 92px;
  }
  .clientes__list {
    padding-left: 15px;
  }
  .menu-toggle {
    display: block;
    cursor: pointer;
  }
  .menu-toggle:hover {
    color: $brand-color;
  }
  .menu-toggle:focus {
    color: $brand-color;
  }
  .menu-toggle.js-close-menu:hover {
    fill: $brand-color;
  }
  .menu-toggle.js-close-menu:focus {
    fill: $brand-color;
  }
  .menu-toggle.js-close-menu:focus-within {
    fill: $brand-color;
  }
  .link {
    cursor: pointer;
  }
  .mobile-menu .link:hover {
    color: $brand-color;
  }
  .menu-container {
    display: block;
  }
  .team__item {
    width: 354px;
    height: 536px;
  }

  .header__list {
    display: none;
  }
  .header {
    justify-content: left;
  }
  .logo {
    padding-left: 25px;
    padding-bottom: 0px;
  }
  .logocontact {
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
  }
  .contact__list {
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .formulario__email {
    margin-left: 50px;
    width: 450px;
    height: 50px;
  }
  .boletin {
    margin-left: 0px;
  }
  .subscribe {
    margin-left: 130px;
  }
  .boletin__text {
    margin-bottom: 20px;
    margin-top: 60px;
    margin-left: 90px;
  }
  .redes {
    padding-right: 90px;
  }
}
